@media (min-width: 1201px) {
  .liked-post {
    width: 550px;
    margin-bottom: 2rem;
  }
  .no-liked-post {
    margin-top: 2rem;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
  }
}
