@media screen and (min-width: 320px) and (max-width: 768px) {
  .user-list-ar {
    display: none;
  }

  .filter-sort-ar {
    height: 40px;
    display: flex;
    justify-content: space-around;
  }
  .filter-sort-ar button {
    height: 35px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }
  .filter-sort-ar button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
  }
  .icon-ar {
    margin-right: 0.2rem;
    font-size: 1.3rem;
  }
  #sort-active {
    background-color: var(--hover-color);
    color: white;
  }
}

@media (min-width: 769px) {
  .aside-right-container {
    margin: 0.3rem 0.5rem;
  }
  .user-list-ar > h2 {
    margin: 0;
    color: var(--primary-color);
  }
  .filter-sort-ar {
    height: 40px;
    display: flex;
    justify-content: space-around;
  }
  .filter-sort-ar button {
    height: 40px;
    width: 110px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }
  .filter-sort-ar button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
  }
  .icon-ar {
    margin-right: 0.2rem;
    font-size: 1.3rem;
  }
  #sort-active {
    background-color: var(--hover-color);
    color: white;
  }
}
