@media screen and (min-width: 320px) and (max-width: 768px) {
  .user-profile {
    max-width: 768px;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .user-profile {
    width: 450px;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1201px) {
  .user-profile {
    width: 550px;
    padding-bottom: 2rem;
  }
}
