body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: rgb(83, 83, 238);
  --secondary-color: rgb(215, 228, 255);
  --hover-color: rgb(106, 106, 235);
  --bg-color: white;
  --color-text: black;
}
[data-theme="dark"] {
  --bg-color: black;
  --color-text: white;
}

* {
  transition: background-color 0.2s linear;
}
