.userinfo-container-show-post {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.icon-post-show-post:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: black;
}
.user-info-show-post {
  display: flex;
}
.user-info-show-post:hover {
  cursor: pointer;
}
#user-image-show-post {
  display: block;
}
.username-show-post > div:nth-of-type(1) {
  font-weight: bold;
}

.liked {
  color: red;
}

.show-layover-modal-ui {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s linear;
  z-index: 100;
}

#show-layover-modal-id-ui {
  transform: scale(1) translate(-50%, -50%);
}
@media (min-width: 1201px) {
  .show-post-container {
    padding: 0.6rem;
    border: 1px solid var(--secondary-color);
    margin-top: 1rem;
    border-radius: 0.3rem;
  }

  #user-image-show-post {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    outline: 3px solid var(--primary-color);
  }
  .no-avatar-sp {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    outline: 3px solid var(--primary-color);
    background-color: rgb(238, 207, 144);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  .username-show-post {
    margin-left: 0.4rem;
  }
  .username-show-post > div:nth-of-type(1) {
    font-size: 1.1rem;
  }
  .username-show-post > div:nth-of-type(2) {
    font-size: 0.9rem;
  }
  .username-show-post span:nth-of-type(1) {
    margin-right: 0.2rem;
  }
  .postdate-show-post {
    margin-left: 0.6rem;
  }
  .user-content-show-post {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    cursor: pointer;
  }
  .icon-post-show-post {
    color: var(--primary-color);
    font-size: 1.4rem;
    padding: 0.1rem;
    width: 20px;
    box-sizing: border-box;
    border-radius: 0.3rem;
    transition: all 0.2s ease-in-out;
  }

  .user-content-show-post > div:nth-of-type(1) {
    margin-bottom: 1rem;
    word-wrap: break-word;
  }
  .video-container-show-post {
    width: 100%;
    border-radius: 0.3rem;
  }
  #image-show-post {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  .user-interaction-show-post {
    border-top: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
  }

  .icon-show-post {
    display: block;
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 0.7rem 0.5rem 0;
    display: flex;
    align-items: center;
  }

  #like-count-show-post {
    padding-left: 0.2rem;
  }
  .icon-show-post:hover {
    cursor: pointer;
  }
  .post-control-sp {
    position: absolute;
    top: 35px;
    right: -50px;
    width: 80px;
    border-radius: 0.3rem;
    background-color: var(--secondary-color);
    box-sizing: border-box;
    text-align: center;
  }
  .post-control-sp:hover {
    cursor: pointer;
  }
  .post-control-sp div {
    width: 100%;
    border-radius: 0.3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.2s linear;
  }
  .post-control-sp div:hover {
    background-color: var(--primary-color);
    color: white;
  }
}
